html{
    padding-top: 40px;
    background-image: url(bg.jpg);   
    text-align: center;
    color: white;
    
}

div{
    padding-top: 50px;
}

.foto{
    background-size: fixed;
    border-radius: 50%;
	margin-bottom: 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

h1{
    
    font-family: Helvetica;
    font-weight: 700;
    line-height: 20px;
}

#npm{
    line-height: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    padding-bottom: 20px;
    color: tan;
}

h2{

    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    line-height: 10px;
}


p{
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-left: 400px;
    padding-right: 400px;
    color: bisque
}
